* {
    font-family:Arial, Helvetica, sans-serif;
}

section#list>ul {
    color: rgb(139, 5, 5);
}

p {
    line-height: 2em;
}

footer a:hover {
    color: rgb(242, 4, 4);
}

#move-on {
    color: rgb(197, 12, 12);
    font-size: 200%;
}

h1, h2, h3 {
    color: rgb(12, 12, 253);
}

blockquote {
    font-size: larger;
}
